node_modules
.dist
.next
.next/cache
coverage
.env
.env.*
.env.local
.env.production
.env.development.local
.env.test
dist
build
.vscode
.DS_Store
*.tsbuildinfo

# test reports
playwright-report/
test-results/
